*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

nav{
    background-color: #add8e6;
}

li{
    list-style:none;
  }
  
li a{
    text-decoration: none;
    color: black;
    
  }

section{
    padding: 40px 80px;
}

footer{ 
    background-color: #23272a;
}

div :not(.container){
    border: 1px dashed black;
}

header nav .logo{
    width: 15%;
}

header nav .login{
    width: 15%;
}

.container-link{
    width: 70%;
}

.flex{
    display: flex;
}

.container{
    width: 920px;
    margin: 0 auto;
    height: 250px;
}

.container-nav{
    background-color: #daa520;
    width: 920px;
    margin: 0 auto;
    height: auto;
}

main section .smaller{
    width: 700px;
    background-color: #ee82ee;
    border: 1px dashed black;
}

nav,footer .container.flex{
    padding: 0.5rem 0;
}

main .blue-background{
    background-color: #00008b ;
}

main section .blue-rectangle{
    width: calc(100%/3*2);
    background-color: #1e90ff;
}

main section .pink-square{
    background-color: #ffc0cb;
    width: calc(100%/3);
}

main .gray-bg{
    background-color: #d3d3d3;
}

.gray-bg .green-rectangle{
    height: 350px;
    background-color: #228b22;
    border: 1px dashed black;
}

footer .pink-col{
    width: calc(100%/6*2);
    background-color: #f08080;
}

footer .blu-col{
    background-color: #20b2aa;
    width: calc(100%/6);
}

footer .logo-button{
    height: auto;
    justify-content: space-between;
    background-color: #7fffd4;
}

footer .pink-logo,.pink-button{
    background-color: #ffb6c1;
}
